<ul><h3>Artists</h3>
    @for (artist of artists | async; track artist.id) {
      <li>
        <details>
          <summary>{{artist.name}}</summary>
          <ul>
            <!-- <h4>Albums</h4> -->
            @for (album of artist.albums; track album.id) {
              <li><details>
                <summary>{{album.title}}</summary>
                <ul>@for (song of album.songs; track song.id) {
                  <li>{{song.title}} <input type="checkbox" value="{{song.id}}" (change)="onChange($event)" /></li>}</ul>
              </details></li>
            }
          </ul>
        </details>
      </li>
    }
  </ul>